body {
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
}

div {
  border: 1px solid white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


.square {
  width: 80px;
  height: 80px;
  font-size: 30px;
  border: 1px solid white;
  text-align: center;
  padding: 5px;
}

.grid {
  /* width: 150px; */
  /* height: 150px; */
  /* border: 1px solid white; */
  padding: 10px;
  margin: 0 auto;
}

.grid-container {
  justify-content: center;
  align-items: center;
  /* position: relative; */
  /* padding: 40px 0; */
}

.sum {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  text-align: center;
}

.sum-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* margin-top: 40px; */
}

.nw {
  position: relative;
  bottom: 225px;
  left: 18px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.ne {
  position: relative;
  bottom: 225px;
  left: 72px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.se {
  position: relative;
  bottom: 126px;
  right: 72px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.sw {
  position: relative;
  bottom: 126px;
  right: 18px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

/* Hide arrows on number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}